.filter{
    width: 400px;
    height: 500px;
    background-color: white;

    box-shadow: 0 0 10px #dce8fd;
    border-radius: 10px;
}

.filter-currency{
    margin: 25px 25px 50px;
}

.filter-chapter{
    color: #545455;
    font-size: 18px;
    font-weight: bold;
}

.filter-currency__button{
    width: 115px;
    height: 60px;
    color: #0096f5;
    font-size: 18px;
    font-weight: bold;
    background-color: white;
    border: 2px solid #babac5;
}

.filter-currency__button-click{
    width: 115px;
    height: 60px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #0096f5;
    border: 2px solid #0096f5;
}

.filter-currency__button:hover{
    border-color: #0096f5;
    background-color: #ecfafe;
    cursor: pointer;
}

button:first-of-type{
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
button:last-of-type{
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.filter-stops{

}

.chapter-stops{
    margin-left: 25px;
}


input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    line-height: 20px;
    cursor: pointer;
    width: 100%;
    height: 45px;
}


input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: -15px;
    top: 7px;
    width: 25px;
    height: 25px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

input[type="checkbox"]:hover + label:before{
    border: 1px solid #0096f5;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
    border-radius: 4px;
}

input[type="checkbox"]:checked + label:before{
    background-color: #ecfafe;
    border: 1px solid #0096f5;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    content: "";
    position: absolute;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
    left: -7px;
    top: 13px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #0096f5;
    border-bottom: 4px solid #0096f5;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
}

input[type="checkbox"]:checked + label:after {
    opacity: 1;
}

.checkbox-label{
    margin-left: 40px;
}

.checkbox-block{
    position: relative;
    top: -5px;
}

.checkbox-block:hover{
    background-color: #ebfafe;
}

label span{
    position: relative;
    top: 9px;
}

.hidden-span{
    opacity: 0;
    position: relative;
    left: 150px;
    color: #0096f5;
    font-weight: 500;
}
.checkbox-block:hover .hidden-span{
    opacity: 1;
}

.first{
    left: 213px;
}

.second{
    left: 132px;
}