.card{
    position: relative;
    width: 750px;
    background-color: white;
    margin-bottom: 50px;
    box-shadow: 0 0 10px #dce8fd;
    border-radius: 10px;

    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}

.card-left{
    margin: 20px 0 20px 30px;
}

.card__logo-block{
    height: 100px;
    width: 225px;
}

.card__logo{
    margin-top: 15px;
    width: 200px;
}

.card-button{
    background-color: #fd6c01;
    border: none;
    width: 200px;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.25;
    letter-spacing: .05rem;
}

.card-button:hover{
    background-color: #fd810f;
    cursor: pointer;
}

.card-right {
    border-left: 2px solid #e5edfa;
}

.card-right__block{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.card-right__block-right{
    text-align: right;
}

.card-right__block-left{
    text-align: left;
}

.time{
    text-align: center;
    width: 105px;
    color: #5a5a60;
    font-size: 45px;
}

.stops{
    font-weight: 500;
    margin-top: 10px;
    width: 160px;
    text-align: center;
    color: #a2a2b0;
}

.horizontalLine{
    position: absolute;
    width: 140px;
    border-top: 1px solid #babac5;
    right: 170px;
    top: 61px;
}

.horizontalLine-plane{
    font-size: 20px;
    position: absolute;
    right: 160px;
    top: 48px;
}
.places{
    font-weight: 600;
}

.date{
    font-weight: 400;
    color: #a2a2b0;
}