.App {
  margin-top: 50px;
}

.logo-block{
  text-align: center;
}

.logo{
  width: 100px;
  -webkit-filter: drop-shadow(3px 12px 15px #000000);
  filter: drop-shadow(3px 10px 10px rgb(114, 170, 218));
  margin-bottom: 50px;
}
